<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">学校概况</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;校园简介</h3>
        <!--<ul>
            <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
            <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
            <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
            <li>极简配置，一键前后台代码生成</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li>Github地址：<a href="https://github.com/lcg0124/bootdo.git" th:href="@{https://github.com/lcg0124/bootdo.git}" target="_blank">https://github.com/lcg0124/bootdo.git</a></li>
            <li>Oschina地址：<a href="https://gitee.com/lcg0124/bootdo.git" target="_blank">https://gitee.com/lcg0124/bootdo.git</a></li>
        </ul>-->
        <ul>
            <li> 学校办学历史悠久，前身为1934年的湖南国医专科学校，1953年创办湖南中医进修学校，1960年创建普通高等本科院校——湖南中医学院，1979年成为全国首批取得中医类研究生学历教育资格的院校，1990年原湖南科技大学成建制并入湖南中医学院，2002年与湖南省中医药研究院合并，2006年经教育部批准更名为湖南中医药大学，2012年进入湖南省一本招生序列。目前，学校与湖南省中医药研究院实行校院合一的管理体制。现任党委书记秦裕辉、校长谭元生。

                学校学科门类齐全、中医药特色鲜明。学校设有18个学院、24个本科专业，涵盖医、理、工、管、文等5大学科门类。现有博士后科研流动站2个，一级学科博士学位授权点3个，二级学科博士学位授权点23个，博士专业学位授权点1个；一级学科硕士学位授权点7个，二级学科硕士学位授权点42个，硕士专业学位授权点7个。建有国家重点学科1个，国家中医药管理局重点学科23个，湖南省重点学科10个，其中湖南省优势特色重点学科2个，构建了以中医药学科为主体的三级重点学科体系。中医诊断学在本学科研究领域居国内领先水平。  </li>
        </ul>

        </span>

        <h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
        <ul>
            <li>点击链接加入群【湖南中医药大学交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5zlRdkZ">379172868</a></li>
        </ul>
    </div>
</div>
</body>
</html>