<!DOCTYPE html>
<html >
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
                    <br/>
					<div class="fixed-table-toolbar">

						<div class="form-group col-md-2">
							<input id="name" type="text" class="form-control"
								   placeholder="文档名">
						</div>
                        <div class="form-group col-md-2">
                            <select data-placeholder="学生" class="form-control chosen-select" id="stu"
                                    tabindex="2" style="width: 100%">
                                <option value="">选择学生</option>
                            </select>
                        </div>
						<div class="form-group col-md-2">
							<input id="createDate" type="text" class="form-control"
								   placeholder="上传时间">
						</div>
						<div class="form-group col-md-2">
							<select class="form-control" id = "readStatus">
								<option value="">查看状态</option>
								<option value="1">已评阅</option>
								<option value="0">未评阅</option>
							</select>
						</div>


					</div>
					</div>
						<div class="form-group col-md-2">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
					</div>
                    <br/>
                    <br/>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = '';
			var s_remove_h = '';
			var s_resetPwd_h = '';
			var s_apply_h = '';
		</script>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/common/studentDocument/studentDocument.js"></script>
	<!-- 全局js -->
	<script src="/js/layui.js"></script>
	<script src="/js/plugins/layer/layer.min.js"></script>

</body>
</html>
