<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
                    <br/>
					<div class="fixed-table-toolbar">
						<div class="form-group col-md-2">
							<input id="userId" type="text" class="form-control"
								   placeholder="学号">
						</div>
						<div class="form-group col-md-2">
							<input id="name" type="text" class="form-control"
								   placeholder="学生姓名">
						</div>
						<div class="form-group col-md-2">
							<select data-placeholder="班级" class="form-control chosen-select"
									tabindex="2" style="width: 100%">
								<option value="">选择班级</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
					</div>
                    <br/>
                    <br/>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = '';
			var s_remove_h = '';
			var s_resetPwd_h = '';
			var s_apply_h = '';
		</script>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/common/selectStudent/selectStudent.js"></script>
</body>
</html>