<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.PaperManagerDao">

	<select id="listPaper" parameterType="map" resultType="com.bootdo.common.dto.PaperDTO">
		SELECT
			p.id,
			p. NAME,
			p.student_id,
			p.teacher_id,
			p.url,
			p.create_time,
			p.collection,
			p.influence,
			p.factor,
			p.reference_count,
			p.score,
			p.review_opinion,
			p.del_flag,
			p.`status`,
			p.type,
			su1. NAME teacherName,
			su2. NAME studentName,
			su2.username,
            sd.name className
		FROM
			paper p
		LEFT JOIN sys_user su1 ON su1.user_id = p.teacher_id
		LEFT JOIN sys_user su2 ON su2.user_id = p.student_id
        LEFT JOIN sys_dept sd ON sd.dept_id = su2.dept_id
		<where>
            and p.status = 1
			<if test="name != null and name.trim() != ''">
				and p.name like concat('%',#{name},'%')
			</if>
			<if test="username != null and username != ''">
				and su2.username like concat('%',#{username},'%')
			</if>
			<if test="teacherId != null and teacherId != ''">
				and p.teacher_id like concat('%',#{teacherId},'%')
			</if>
			<if test="createTime != null and createTime.trim() != ''">
				and p.create_time like concat('%',#{createTime},'%')
			</if>
			<if test="deptId != null and deptId != ''">
				and su2.dept_id = #{deptId}
			</if>
			<if test="teacherName != null and teacherName.trim() != ''">
				and su1.name like concat('%',#{teacherName},'%')
			</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by p.create_time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

    <select id="countTotal" parameterType="map" resultType="Integer">
        SELECT
        COUNT(1)
        FROM
        paper p
        LEFT JOIN sys_user su1 ON su1.user_id = p.teacher_id
        LEFT JOIN sys_user su2 ON su2.user_id = p.student_id
        <where>
            and p.status = 1
            <if test="name != null and name.trim() != ''">
                and p.name like concat('%',#{name},'%')
            </if>
			<if test="username != null and username != ''">
				and su2.username like concat('%',#{username},'%')
			</if>
            <if test="teacherId != null and teacherId != ''">
                and p.teacher_id like concat('%',#{teacherId},'%')
            </if>
            <if test="createTime != null and createTime.trim() != ''">
                and p.create_time like concat('%',#{createTime},'%')
            </if>
            <if test="deptId != null and deptId != ''">
                and su2.dept_id = #{deptId}
            </if>
			<if test="teacherName != null and teacherName.trim() != ''">
				and su1.name like concat('%',#{teacherName},'%')
			</if>
        </where>
    </select>

    <select id="queryPaperById" parameterType="long" resultType="com.bootdo.common.dto.PaperDTO">
        select
            p.id,
			p. NAME,
			p.student_id,
			p.teacher_id,
			p.url,
			p.create_time,
			p.collection,
			p.influence,
			p.factor,
			p.reference_count,
			p.score,
			p.review_opinion,
			p.del_flag,
			p.`status`,
			p.type
		from paper p
		where id = #{id}
    </select>

    <update id="savePaperDetail" parameterType="com.bootdo.common.dto.PaperDTO">
        update paper set collection = #{collection},factor = #{factor}
        where id = #{id}
    </update>
</mapper>