<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.SelectTeacherDao">
	<select id="queryTeacherList" parameterType="map" resultType="com.bootdo.common.dto.TeacherDTO">
		SELECT
		su.user_id,
		su.NAME,
		sd.NAME deptName,
		su.research_direction,
		su.total_num,
		su.already_num,
		su.ready_num,
		su.mobile,
		su.email
		FROM
		sys_user su
		LEFT JOIN sys_dept sd ON su.dept_id = sd.dept_id
		<where>
			<if test="name != null and name.trim() != ''"> and name like concat('%',#{name},'%') </if>
			<if test="researchDirection != null and researchDirection.trim() != ''"> and research_direction like concat('%',#{researchDirection},'%') </if>
			and status = 1
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by su.ready_num desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" parameterType="map" resultType="int">
		SELECT
		count(1)
		FROM
		sys_user su
		LEFT JOIN sys_dept sd ON su.dept_id = sd.dept_id
		<where>
			<if test="name != null and name.trim() != ''"> and name like concat('%',#{name},'%') </if>
			<if test="researchDirection != null and researchDirection.trim() != ''"> and research_direction like concat('%',#{researchDirection},'%') </if>
			and status = 1
		</where>
	</select>


</mapper>