<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.SelectTeacherDao">
	<select id="queryTeacherList" parameterType="map" resultType="com.bootdo.common.dto.TeacherDTO">
		SELECT
		su.user_id,
		su.NAME,
		sd.NAME deptName,
		su.research_direction,
		su.total_num,
		su.already_num,
		su.ready_num,
		su.mobile,
		su.email
		FROM
		sys_user su
		LEFT JOIN sys_dept sd ON su.dept_id = sd.dept_id LEFT JOIN sys_user_role sur ON sur.user_id = su.user_id
		<where>
			<if test="name != null and name.trim() != ''"> and su.name like concat('%',#{name},'%') </if>
			<if test="researchDirection != null and researchDirection.trim() != ''"> and research_direction like concat('%',#{researchDirection},'%') </if>
			and status = 1 and sur.role_id = 59
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by su.ready_num desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" parameterType="map" resultType="int">
		SELECT
		count(1)
		FROM
		sys_user su
		LEFT JOIN sys_dept sd ON su.dept_id = sd.dept_id LEFT JOIN sys_user_role sur ON sur.user_id = su.user_id
		<where>
			<if test="name != null and name.trim() != ''"> and su.name like concat('%',#{name},'%') </if>
			<if test="researchDirection != null and researchDirection.trim() != ''"> and research_direction like concat('%',#{researchDirection},'%') </if>
			and status = 1 and sur.role_id = 59
		</where>
	</select>
	<select id="queryTeacherByUserId" parameterType="Long" resultType="com.bootdo.common.dto.TeacherDTO">
		SELECT
		su.user_id,
		su.NAME,
		sd.NAME deptName,
		su.research_direction,
		su.total_num,
		su.already_num,
		su.ready_num,
		su.mobile,
		su.email
		FROM
		sys_user su LEFT JOIN sys_dept sd ON su.dept_id = sd.dept_id
		where user_id = #{userId}
	</select>

	<insert id="insertTeacherStudent" parameterType="com.bootdo.common.dto.TeacherStudent">
		insert into sys_teacher_student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="teacherId != null">
				teacher_id,
			</if>
			<if test="studentId != null">
				student_id,
			</if>
			<if test="linkStatus != null">
				link_status,
			</if>
            <if test="type != null and type != ''">
                type,
            </if>
			<if test="paperTitle != null and paperTitle.trim() != ''">
				paper_title,
			</if>
			<if test="leaveMessage != null and leaveMessage.trim() != ''">
				leave_message,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="teacherId != null">
				#{teacherId},
			</if>
			<if test="studentId != null">
				#{studentId},
			</if>
			<if test="linkStatus != null">
				#{linkStatus},
			</if>
            <if test="type != null and type != ''">
                #{type},
            </if>
			<if test="paperTitle != null and paperTitle.trim() != ''">
				#{paperTitle},
			</if>
			<if test="leaveMessage != null and leaveMessage.trim() != ''">
				#{leaveMessage},
			</if>
		</trim>
	</insert>


	<select id="queryRecordBySidAndTid" parameterType="map" resultType="com.bootdo.common.dto.TeacherStudent">
		SELECT
			*
		FROM
			sys_teacher_student
		WHERE
			teacher_id = #{teacherId}
		AND student_id = #{studentId}
	</select>


</mapper>