<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.SelectStudentDao">
	<select id="queryStudentList" parameterType="map" resultType="com.bootdo.common.dto.StudentDTO">
		SELECT
			su.user_id,
			su. NAME,
			su.dept_id,
			sd. NAME className,
			su.username,
			su.graduate_year,
			su.email,
			su.mobile
		FROM
			sys_user su
		LEFT JOIN sys_user_role sur ON sur.user_id = su.user_id
		LEFT JOIN sys_dept sd ON sd.dept_id = su.dept_id
		<where>
			<if test="userId != null and userId != ''">
				and su.user_id like concat('%',#{userId},'%')
			</if>
			<if test="name != null and name.trim() != ''">
				and su.name like concat('%',#{name},'%')
			</if>
			<if test="deptId != null and deptId != ''">
				and su.dept_id = #{deptId}
			</if>

			and status = 1 and sur.role_id = 60
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by su.user_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countTotal" parameterType="map" resultType="Integer">
		SELECT
		count(1)
		FROM
		sys_user su
		LEFT JOIN sys_user_role sur ON sur.user_id = su.user_id
		LEFT JOIN sys_dept sd ON sd.dept_id = su.dept_id
		<where>
			<if test="userId != null and userId != ''">
				and su.user_id like concat('%',#{userId},'%')
			</if>
			<if test="name != null and name.trim() != ''">
				and su.name like concat('%',#{name},'%')
			</if>
			<if test="deptId != null and deptId != ''">
				and su.dept_id = #{deptId}
			</if>
			and status = 1 and sur.role_id = 60
		</where>
	</select>

	<select id="queryDeptInfo" resultType="com.bootdo.common.dto.DeptDTO">
		SELECT DISTINCT
			dept_id,
			NAME
		FROM
			sys_dept
		WHERE
			type = 0
	</select>

	<select id="queryStudentById" parameterType="Long" resultType="com.bootdo.common.dto.StudentDTO">
		SELECT
			su.name,
			su.user_id,
			sd.`name` className
		FROM
			sys_user su
		LEFT JOIN sys_dept sd ON su.dept_id = sd.dept_id
		WHERE
			user_id = #{userId}
	</select>

</mapper>