<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.SysDocumentDao">
    <select id="listAllFile" parameterType="map" resultType="com.bootdo.common.domain.FileDO">
        SELECT
            sf.id,
            sf.NAME,
            sf.user_id,
            sf.user_name,
            sf.type,
            sf.url,
            sf.create_date,
            sf.read_status,
            sf.teacher_comment,
            sf.del_flag,
            su.username userNo,
            sr.role_name
        FROM
            sys_file sf
        LEFT JOIN sys_user su ON su.user_id = sf.user_id
        LEFT JOIN sys_user_role sur on sf.user_id = sur.user_id
        LEFT JOIN sys_role sr on sr.role_id = sur.role_id
        <where>
            <if test="userNo != null and userNo != ''">
                and su.username like concat('%',#{userNo},'%')
            </if>
            <if test="userName != null and userName.trim() != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="name != null and name.trim() != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="createDate != null and createDate != ''">
                and create_date LIKE concat('%',#{createDate},'%')
            </if>
            <if test="roleId != null and roleId != ''">
                and sur.role_id = #{roleId}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by create_date desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="countTotal" parameterType="map" resultType="Integer">
        SELECT
        count(1)
        FROM
        sys_file sf
        LEFT JOIN sys_user su ON su.user_id = sf.user_id
        LEFT JOIN sys_user_role sur on sf.user_id = sur.user_id
        LEFT JOIN sys_role sr on sr.role_id = sur.role_id
        <where>
        <if test="userNo != null and userNo != ''">
            and su.username like concat('%',#{userNo},'%')
        </if>
        <if test="userName != null and userName.trim() != ''">
            and user_name like concat('%',#{userName},'%')
        </if>
        <if test="name != null and name.trim() != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="createDate != null and createDate != ''">
            and create_date LIKE concat('%',#{createDate},'%')
        </if>
        <if test="roleId != null and roleId != ''">
            and sur.role_id = #{roleId}
        </if>
        </where>
    </select>

    <delete id="batchRemove">
        delete from sys_file where id in
        <foreach item="id" collection="array" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </delete>

</mapper>