<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">

	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
                    <br/>
					<div class="fixed-table-toolbar">
						<div class="form-group col-md-2">
							<input id="name" type="text" class="form-control"
								   placeholder="论文名称">
						</div>
						<div class="form-group col-md-2">
							<input id="username" type="text" class="form-control"
								   placeholder="学生编号">
						</div>
						<div class="form-group col-md-2">
							<input id="teacherName" type="text" class="form-control"
								   placeholder="指导老师姓名">
						</div>
						<div class="form-group col-md-2">
							<input type="text" class="laydate-icon layer-date form-control" id="createTime" name="createTime"  placeholder="论文时间"
								   onclick="laydate({istime: true, format: 'YYYY'})" style="background-color: #fff;" readonly="readonly"/>
						</div>
						<div class="form-group col-md-2">
							<select data-placeholder="班级" class="form-control chosen-select" id="deptId"
									tabindex="2" style="width: 100%">
								<option value="">选择班级</option>
							</select>
						</div>
					</div>
					</div>
						<div class="form-group col-md-2">
							<button class="btn btn-success" onclick="reLoad()">查询</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
					</div>
                    <br/>
                    <br/>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = '';
			var s_remove_h = '';
			var s_resetPwd_h = '';
			var s_apply_h = '';
		</script>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/common/paperManage/paperManage.js"></script>
	<!-- 全局js -->
	<script src="/js/layui.js"></script>
	<script src="/js/plugins/layer/layer.min.js"></script>

	<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript" src="/js/plugins/cropper/cropper.min.js"></script>
	<script type="text/javascript" src="/js/plugins/layer/laydate/laydate.js" ></script>
	<script type="text/javascript" src="/js/plugins/distpicker/distpicker.data.min.js"></script>
	<script type="text/javascript" src="/js/plugins/distpicker/distpicker.min.js"></script>
	<script type="text/javascript" src="/js/appjs/sys/user/gg-bootdo.js"></script>
	<!--校验插件-->
	<script src="/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="/js/plugins/validate/jquery.validate.extend.js"></script>
	<script src="/js/plugins/validate/messages_zh.min.js"></script>

</body>
</html>